.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    display: flex;
    height: 74px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
    
}
.sidebar-link:hover{
    background-color: rgb(240, 232, 232);
}
.sidebar-link img{
    margin-bottom: 4px;
    height: 24px;
}
.sidebar-link div{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: 10px;
}