
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .Subscribe-button {
        margin-top: 50px;
        background-color: #c60000;
        color: white;
        border: none;
        margin-right: 8%;
        margin-left: 20px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 2px;
        cursor: pointer;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
      }
      .Subscribe-button:hover {
        opacity: 0.8;
      }
      .Subscribe-button:active {
        opacity: 0.5;
      }
      .join-button {
        margin-right: 30px;
        margin-left: 20px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        border-color: #407fde;
        border-style: solid;
        border-width: 1px;
        color: #407fde;

        margin-right: 8px;
        transition: background-color 1s, color 1s;
      }
      .join-button:hover {
        background-color: #407fde;
        color: white;
      }
      .join-button:active {
        opacity: 0.7;
      }
      .tweet-button {
        background-color: dodgerblue;
        color: white;
        border: none;
        height: 36px;
        width: 80px;
        font-weight: bold;
        border-radius: 18px;
        cursor: pointer;
        transition: box-shadow 0.15s;
      }
      .tweet-button:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
      }
   